{% extends "base.html" %}
{% block title %} AI_Chatbot {% endblock %}
{% block content %}
<p> Hey im your Chatbot </p>

<script> 
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input')

    messageForm.addEventListener('submit'), (event) => {
        event.preventDefault();

        const message = messageInput.value.trim();
        if (message.lenght === 0) {
            return
        }
    }
</script>
{% endblock %}
