{% extends "base.html" %}
{% block title %} Mate {% endblock %}
{% block content %}

<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <label for="user_input">Gib deinen Text ein:</label><br>
    <input id="user_input" name="user_input" placeholder="Schreibe hier etwas..." required type="text"><br><br>
    <input type="submit" value="Enter">
</form>

{% if ai_response %}
<h3>Antwort vom Ernährungsberater:</h3>
<p>{{ ai_response }}</p>
{% endif %}

<form method="get">
    <input name="search_recipe_by_name" placeholder="Search for a recipe" type="text"/>
    <button type="submit">Search</button>
</form>

{% if extracted_recipes %}
<h2>Search Results:</h2>
<ul>
    {% for recipe in extracted_recipes %}
    <li>
        <a href="{% url 'recipe_instructions' recipe.id %}">
            <strong>{{ recipe.title }}</strong><br>
        </a>
        <a href="{% url 'recipe_instructions' recipe.id %}">
            <img alt="{{ recipe.title }}" src="{{ recipe.image }}" style="width: 200px; height: auto;"><br>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No recipes found. Try searching for something else!</p>
{% endif %}

{% endblock %}