.instructions {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr; /* Title, Instructions, Rest */
    align-items: start; /* Inhalte nach oben schieben */
}


.instructions h3 {
    text-align: middle; /* Links ausgerichtet */
    text-transform: none; /* Keine Blockschrift */
    margin-bottom: 10px;
}
.instructions h4 {
    text-align: middle; /* Links ausgerichtet */
    text-transform: none; /* Keine Blockschrift */
    margin-bottom: 10px;
}


.instructions ol {
    list-style-type: none; /* Entfernt Marker */
    padding-left: 20px; /* Entfernt den inneren Abstand nach links */
    text-align: left;
    align-items: justify; /* Inhalte nach oben schieben */
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.5; /* Abstand zwischen den Zeilen erhöhen */
}


.instructions li {
    text-align: left;
    align-items: start; /* Inhalte nach oben schieben */
    font-size: 24px;
    margin-bottom: 10px;
}