.results {
display: grid;
grid-template-rows: auto 1fr
}

.results h3 {
    text-align: middle; /* Links ausgerichtet */
    text-transform: none; /* Keine Blockschrift */
    margin-bottom: 10px;
}

.results ul {
    display: grid;
    text-align: left; /* Links ausgerichtet */
    grid-template-columns: 1fr;
    gap: 10px;
}
